$buttonSize: 85px;

.container {
  text-align: center;
  margin: 20px 0;
}

@mixin button {
  border: none;
  border-radius: 50%;
  padding: 20px;
  font-size: 2em;
  margin: 10px 15px;
  font-weight: 700;
  width: $buttonSize;
  height: $buttonSize;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.timer {
  @include button;
  font-size: 1.5em;
  white-space: pre;
}

.on {
  @include button;
  border: none;
  background: #53b953;
  color: white;
}

.off {
  @include button;
  color: white;
  background: #f37878;

  &.close {
    font-size: 2.5em;
    font-weight: 300;
  }
}

.inputContainer {
  width: 100%;
  font-size: 1.5em;
  line-height: 1.8;
}

.input {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.8;
  max-width: 100px;
  border: none;
  border-bottom: 3px solid #ccc;
}
