.status {
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  color: white;
  max-width: 250px;
  margin: 0 auto;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;

  &.show {
    opacity: 1;
  }
}
